/*Stylesheet for index.jade*/

body{
	font-family: sans-serif, verdana, 'Open Sans', arial;
	background-color: #315481;
	background-image: linear-gradient(to bottom, #315481, #918e82 100%);
	background-attachment: fixed;
	text-align: center;
	font-size: 100%;
}

#content {
	float: center;
	margin: auto;
}

#player, #enemy {
	width: 600px;
}

#stat, #info {
	padding-top: 10px;
}

#grid th {
	color: #bab1ba;
}

#grid td, th{
	margin: 5px;
	padding: 8px;
}

#grid td{
	border: 1px solid black;
	height:30px;
	width:30px;
	border-radius:15px;
}

#grid td:hover{
	/*background-color: cornflowerblue;*/
	cursor: pointer;
}

#grid-section{
	float: left;
	position: relative;
}

#info-section{
	float: right;
	position: relative;
	right: 15%;
}

#clicked{
	text-align: center;
	margin: 0 auto 0 auto;
}

.activeShip{
	color: white;
	font-weight: bold;
	background-color: blue;
}

#status-board{
	font-size: 1.2em;
	color: #bab1ba;
}

#stat{
	display: none;
}

ul{
	list-style: none;
}

/*Reference: http://stackoverflow.com/questions/9207304/css-pseudo-classes-inputnotdisablednottype-submitfocus*/
button.shipBtn:hover:not([disabled]){
	cursor: pointer;
	color: white;
	font-weight: bold;
	background-color: blue;
}

button.shipBtn:not([disabled]){
	color: black;
	font-weight: bold;
	background-color: green;
}

button.activeButton:not([disabled]){
	color: white;
	font-weight: bold;
	background-color: blue;
}

button.disabledButton{
	color: black;
	font-weight: bold;
	background-color: gray;
}

.hoverPlacement{
	background-color: red;
}

li.ship{
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
}

li.ship:hover{
	cursor: pointer;
}

.placementCell{
	background-color: cornflowerblue;
}

.instructions{
	font-weight: bold;
}

.played{
	background-color: gray;
}
