/*Stylesheet for index.jade*/

body{
	font-family: arial, verdana, sans-serif;
	font-size: 100%;
	text-align: center;
}

td, th{
	margin: 5px;
	padding: 8px;
}

td{
	border: 1px solid black;
}

td:hover{
	/*background-color: cornflowerblue;*/
	cursor: pointer;
}

#grid-section{
	float: left;
	position: relative;
}

#info-section{
	float: right;
	position: relative;
	right: 15%;
}

#clicked{
	text-align: center;
	margin: 0 auto 0 auto;
}

#shipList{
	border: 1px solid black;
	text-align: center;
	padding: 10px;
}

.activeShip{
	color: white;
	font-weight: bold;
	background-color: blue;
}

ul{
	list-style: none;
}

/*Reference: http://stackoverflow.com/questions/9207304/css-pseudo-classes-inputnotdisablednottype-submitfocus*/
button.shipBtn:hover:not([disabled]){
	cursor: pointer;
	color: white;
	font-weight: bold;
	background-color: blue;
}

button.shipBtn:not([disabled]){
	color: black;
	font-weight: bold;
	background-color: green;
}

button.activeButton:not([disabled]){
	color: white;
	font-weight: bold;
	background-color: blue;
}

button.disabledButton{
	color: black;
	font-weight: bold;
	background-color: gray;
}

.hoverPlacement{
	background-color: red;
}

li.ship{
	border: 1px solid black;
	border-radius: 5px;
	margin: 5px;
}

li.ship:hover{
	cursor: pointer;
}

.placementCell{
	background-color: cornflowerblue;
}

.instructions{
	font-weight: bold;
}

.played{
	background-color: gray;
}