/*Stylesheet for index.jade*/

body{
	font-family: arial, verdana, sans-serif;
	font-size: 100%;
	text-align: center;
}

td, th{
	margin: 5px;
	padding: 8px;
}

td{
	border: 1px solid black;
}

td:hover{
	background-color: cornflowerblue;
	cursor: pointer;
}

#grid-section{
	float: left;
	position: relative;
}

#info-section{
	float: right;
	position: relative;
	right: 15%;
}

#clicked{
	text-align: center;
	margin: 0 auto 0 auto;
}

.activeShip{
	color: red;
}

li.ship:hover{
	cursor: pointer;
}